header{
    background-color: #244946;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
header a{
    color: #346a6a;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}